<h1 style="text-align: right">Nuevo Usuario</h1>
<%= form_for(@user) do |f|%>
<div class="row" style="text-align: center">
	<%= render 'shared/error_messages', object: @user%>
	
 		<%=f.label :nombre,"Nombre*"%><!--html tag label-->
 		<%=f.text_field :nombre%>
 	
 	
	
		<%=f.label :email, "Email*"%>
		<%=f.text_field :email%>
 
 	
 	
		<%=f.label :password, "Contraseña*"%>
		<%=f.password_field :password%>

 	
 	
		<%=f.label :password_confimation, "Confirmacion de contraseña*"%>
		<%=f.password_field :password_confirmation%>
 	
 		<br /><p>* campo requerido.</p>
 	<div class="actions" >
		<%=f.submit "Registro"%>
 	</div>	
 	</div>
 	
<%end%>

