<% if  @post.blank? %>
<p>
	No hay nuevo contenido
</p>
<%else%>
<hr />

<h2>Reciente</h2>
<br />
<% @post.each do |c| %>
<div class="media">
	<%= link_to(image_tag(c.image, :alt => "",:class => "img-thumbnail"), c.ref, :class => "pull-left img-responsive" ) %>
	<div class="media-body bubble">
		
		<h3 class="media-heading"><%= c.title %></h3>
		<p>
			<%= c.content %>
		<p>
			<hr />
		<span class="timestamp"> Publicado: <%= time_ago_in_words(c.created_at)%> </span>
		
		<%begin%>
		<% if usuario_actual.admin? %>
		<%= link_to "Eliminar", c, :method => :delete, :confirm => "Eliminar la publicacion?", :title => "Eliminar #{c.title} "%>
		<%end%>
		<%rescue Exception%>
		<%end%>
	</div>
	</div>
	<%end%>

	<%end%>
