<div class="page-header">
  <h1>Productos<small>  100% del valle</small></h1>
</div>

<div class="row">
	<% @products.each do |product| %>
	<div class="col-4 col-sm-6 col-lg-3">
		  <div class=" thumbnail caption">
        		<h2><p>
			<%= product.nombre_producto%></p>
</h2>
		<p>
			<%= image_tag "#{product.imagen_producto_url}", :alt => "#{product.nombre_producto}", :class => "img-thumbnail" %>
		</p>

		<p class="minimize">
			<%= product.descripcion_producto %>
				Precio: <%= product.precio%>
		</p>
		</div>
		<%begin%>

		<% if usuario_actual.admin? %>
		<p>
			<%= link_to "Borrar", product, :method => :delete, :confirm => "Esta Seguro?", :title => "Eliminar #{product.nombre_producto}" %>
			|
			<%= link_to 'Editar', edit_product_path(product) %>
		</p>
		<%else%>
		<%end%>
		<%rescue Exception%>
		<%end%>

	</div><!--/span-->

	<% end %>
</div>

<%begin%>
<% if usuario_actual.admin? %>
<p style="text-align: center">
	<%= link_to 'Nuevo producto', new_product_path%>
</p>
<%end%>
<%rescue Exception%>
<%end%>




