<footer >
	<nav class = "round">
	<ul>
		<li><%=link_to "Conócenos",about_path%></li>
		<li><%=link_to "Melaos",root_url%></li>
		<li><%=link_to "Contacto",contacto_path%></li>
		<li><%=image_tag("facebook-4-512.png", :alt => "Sample App",:class=>"icono")%></li>
		<li><%=image_tag("twitter-4.png", :alt => "Sample App",:class=>"icono")%></li>
	</ul>
	</nav>
</footer>