<footer>
	<nav class = "btn-group-justified">
		<%=link_to "Conócenos",about_path,:class=>"btn btn-default"%>
		<%=link_to "Melaos",root_url,:class=>"btn btn-default"%>
		<%=link_to "Contacto",contacto_path,:class=>"btn btn-default"%>
		<%=image_tag("facebook36.png", :alt => "Sample App",:class=>"pull-right")%>
		<%=image_tag("twitter-36.png", :alt => "Sample App",:class=>"pull-right")%>
	</nav>
	
</footer>