<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
   <div class="navbar-header navbar-right">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Melaos|Inicio</a>
   </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li> <%= link_to "Productos",products_path%> </li>
         <li> <%= link_to "Visítanos",help_path%> </li>
         <% if ha_iniciado_sesion? %>    
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cuenta<b class="caret"></b></a>
            <ul class="dropdown-menu">
               <li><%= link_to "Perfil",user_path(usuario_actual) %></li>
               <li><%= link_to "Ajustes",edit_user_path(usuario_actual) %></li>
               <li><%= link_to "Usuarios",users_path %></li>
               <li><%= link_to "Cerrar sesion",signout_path%></li>
            </ul>
         </li>
         <%else%>
         <li><%= link_to "Iniciar sesion",signin_path%></li>
         <%end%>
      </ul>
   </div>
</nav>
<div class="page-header">
   <%= link_to logo, root_path%>
   <!--Mirar helpers/applicationHelper; se define logo como: image_tagimage_tag("MelaosLogo.png", :alt => "Sample App",:class=>"round")-->
</div>


	 				
	 				
				