<!DOCTYPE html>
<html>
    
  
	<head>  
		<%=render ('layouts/stylesheets')%>
		<title><%=title%></title>
		<!-- mirar Helper para ver que esta definido como title-->
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
		<%=csrf_meta_tag%>
		<%= javascript_include_tag "application"%>
		
		<!--[if lt IE9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	 	
	</head>

	<body>
		
		 <div class = "container">
			<%=render 'layouts/header'%>
		 	<section >
		 		<% flash.each do |key,value| %>
		 			<div class = "alert alert-<%= key %>"><%= value %></div>
		 		<%end%>
		 		<%=yield%>
		 	</section>
		 
		 	<%=render 'layouts/footer'%> 
		 </div>
		 
 	</body>
</html>
